<a href="https://colab.research.google.com/github/ashiffaaadhil/python_basics/blob/main/Assignment_variables.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
print("Welcome to Assignment-1")

Welcome to Assignment-1

In [2]:
Num1=10

In [3]:
Num2=30

In [4]:
Add=Num1+Num2

In [5]:
print("Num1= ",Num1)
print("Num2= ",Num2)
print("Add= ",Add)

Num1=  10
Num2=  30
Add=  40

In [6]:
print("Body Mass Index")
bmi=float(input("Enter the body mass index value"))

Body Mass Index
Enter the body mass index value12.7

In [7]:
if bmi < 18.5:
    print("Underweight")
elif 18.5 <= bmi < 24.9:
    print("Normal weight")
elif 25 <= bmi < 29.9:
    print("Overweight")
else:
    print("Obesity")

Underweight

In [8]:
print("HOPE AI")

HOPE AI

In [9]:
name=input("Enter your institute name? :")

Enter your institute name? :ashiffa

In [10]:
print(name)

ashiffa

In [11]:
myname=input("Enter your name? :")
age=input("Enter your age? :")
school_name=input("Enter your school name? :")
degree=input("Enter your degree? :")

Enter your name? :ashi
Enter your age? :34
Enter your school name? :srv
Enter your degree? :be

In [12]:
print(myname)
print(age)
print(school_name)
print(degree)

ashi
34
srv
be

In [13]:
Num1=float(input("Enter your number 1? :"))
Num2=float(input("Enter your number 2? :"))
Add=Num1+Num2
print("Num1= ",Num1)
print("Num2= ",Num2)
print("Add= ",Add)

Enter your number 1? :32.4
Enter your number 2? :67
Num1=  32.4
Num2=  67.0
Add=  99.4

In [14]:
Num1=int(input("Enter your number 1? :"))
Num2=int(input("Enter your number 2? :"))
Sub=Num1-Num2
print("Num1= ",Num1)
print("Num2= ",Num2)
print("Sub= ",Sub)

Enter your number 1? :45
Enter your number 2? :78
Num1=  45
Num2=  78
Sub=  -33

In [15]:
Num1=int(input("Enter your number 1? :"))
Num2=int(input("Enter your number 2? :"))
Mul=Num1*Num2
print("Num1= ",Num1)
print("Num2= ",Num2)
print("Mul= ",Mul)

Enter your number 1? :5
Enter your number 2? :6
Num1=  5
Num2=  6
Mul=  30

In [16]:
Num1=int(input("Enter your number 1? :"))
Num2=int(input("Enter your number 2? :"))
Div=Num1/Num2
print("Num1= ",Num1)
print("Num2= ",Num2)
print("Div= ",Div)

Enter your number 1? :56
Enter your number 2? :6
Num1=  56
Num2=  6
Div=  9.333333333333334

In [17]:
Num1=int(input("Enter your number 1? :"))
Num2=int(input("Enter your number 2? :"))
floordiv=Num1//Num2
print("Num1= ",Num1)
print("Num2= ",Num2)
print("floor div= ",floordiv)

Enter your number 1? :56
Enter your number 2? :6
Num1=  56
Num2=  6
floor div=  9

In [18]:
Num1=int(input("Enter your number 1? :"))
Num2=int(input("Enter your number 2? :"))
mod=Num1%Num2
print("Num1= ",Num1)
print("Num2= ",Num2)
print("modulus= ",mod)

Enter your number 1? :5
Enter your number 2? :2
Num1=  5
Num2=  2
modulus=  1

In [19]:
Num1=int(input("Enter your base? :"))
Num2=int(input("Enter your power? :"))
powerval=Num1**Num2
print("Num1= ",Num1)
print("Num2= ",Num2)
print("power val= ",powerval)

Enter your base? :3
Enter your power? :4
Num1=  3
Num2=  4
power val=  81

In [20]:
for x in range(0,20):
    print(x)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

In [21]:
for x in range(10,21):
    print(x)

10
11
12
13
14
15
16
17
18
19
20

In [22]:
for x in range(10,21,5):
    print(x)

10
15
20

In [23]:
list_num=[1,2,3,4,5,7,6,0,9,8,7,12]
print(len(list_num))

12

In [24]:
title="artifitial intelligense"
for x in title:
    print(x)

a
r
t
i
f
i
t
i
a
l

i
n
t
e
l
l
i
g
e
n
s
e

In [25]:
list_num=[1,2,3,4,5,6,7,8,9,0,100,99,87,83,88]
for x in list_num:
    if x%2==0:
        print(x,"is even")
    else:
        print(x," is odd")

1  is odd
2 is even
3  is odd
4 is even
5  is odd
6 is even
7  is odd
8 is even
9  is odd
0 is even
100 is even
99  is odd
87  is odd
83  is odd
88 is even

In [26]:
i=int(input("enter the number "))
if i==10:
    print("correct")
else:
    print("in correct")

enter the number 4
in correct